@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>My information</h3>


<p>
    Hello my name is Xander!
</p>

<p>
    The date and time is @DateTime.Now
</p>

